@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    
    
    background-color: #F8F8F8;
}

.header {
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
    margin-bottom: 16px;
}

.header__title {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
    padding-block: 16px;
    margin: 0;
    padding-inline: 16px;
}



.list__item {
    display: flex;
    align-items: center;
    list-style: none;
    flex-shrink: 0;
    width: 240px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    box-sizing: border-box;
    padding-inline: 16px;
}

.swiper__item-link {
    display: block;
    background-image: url(../img/go.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
} 

.list__item-link {
    display: block;
    background-image: url(../img/go.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.list__item-logo {
    padding-block: 20px;
    margin-right: auto;
    max-width: 128px;
}

.swiper__item-logo {
    padding-block: 20px;
    margin-right: auto;
    max-width: 128px;
}

.list__item-bttn {
    background-image: url(../img/go.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
} 

.swiper {
    width: 100vw;
    height: 100px;
}

.swiper::after {
    position: fixed;
    content: '';
    background-image: url(../img/fade-copy.svg);
    top: 97px;
    right: 0;
    width: 24px;
    height: 81px;
    z-index: 1;
}

.swiper-slide {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 240px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    box-sizing: border-box;
    padding-inline: 16px;
}

.swiper-wrapper {
    padding-left: 16px;
    
}

.swiper-pagination {
    bottom: var(--swiper-pagination-bottom, 0px) !important;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

/* .swiper-slide--active {
    background-color: #B5B6BC;
} */

button:hover, a:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.main__expand {
    display: none;
}

.main__hide {
    display: none;
}

.list {
    display: none;
}


@media (min-width: 768px) {
    .header {
        height: 56px;
    }

    .header__title {
        padding-left: 24px;
    }

    .list {
        display: flex;
        flex-direction: row;
    
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 24px;
    }

    .list__item {
        width: 224px;
    }

   .hidden {
        display: none;
    }
    
.swiper {
        display: none;
    }

    .main__expand {
        display: block;
        font-weight: 500;
        background-color: transparent;
        border: none;
        font-family: 'TT Lakes';
        font-size: 16px;
        padding-left: 24px;
    }

    .main__expand::before {
        content: url('../img/expand.svg');
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: 24px;
        margin-right: 8px;
    }
    
    .main__hide {
        display: none;
        font-weight: 500;
        background-color: transparent;
        border: none;
        font-family: 'TT Lakes';
        font-size: 16px;
        padding-left: 24px;
    }

    .main__hide::before {
        content: url('../img/expand.svg');
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: 24px;
        margin-right: 8px;
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .list__item:nth-child(7), .list__item:nth-child(8) {
        display: block;
    }
    
    .list__item {
        width: 240px;
    }
}